<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Little Brother's Lite Brite Game</title>
    <script type="text/javascript" src="/static/js/methods.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
    <span id="message" style="display:none;"><%= msg %></span>
    <div class="login-page">
        <div class="form">
            <form class="login-form" id="chooseAction" onload="setForm()">
                
            </form>
        </div>
    </div>
</body>
