
body {
	color:white;
}
h1
{
	font-family : Impact, Charcoal, sans-serif;
	font-size : 30pt;
	text-align: center;
}
.circle
{
	border-radius:50%;
	float:left;
	position: relative;
	width: 4vw;
	height:4vw;
	border-style: solid;
	border-width: 0.5px;
	border-color: grey;
	margin:.25%;
}
.circle:hover {
	opacity:0.8;
	background-color:#0E0203;}
.side {
	width:10vw;
	position:relative;
	background-color:green;
}
.gameBoard {
	width:90vw;
	position:relative;
	float:right;
}
#secret {
	cursor:text;
}
.button
{
    border: none;
	color:black;
	font-family : "Trebuchet MS", "Helvetica", "sans-serif";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2vw 1vw;
    cursor: pointer;
	transition:.4s;
	width:5vw;
}

.button:hover {
	color:white;
}
#blue {
	background-color: #1A63FF;
}
#red {
	background-color: #f44336;
	}
#green {
	background-color: #1dff00;
}
#pink {
	background-color: #ff00f1;
}
#yellow {
	background-color: #c9ff00;
}
#orange {
	background-color: #ff8a00;
}
#white {
	background-color:white;
}
#black {
	background-color:#0E0203;

}
#erase {
	color:grey;
	border-style: solid;
    border-width: 0.5px;
	border-color: grey;
}
.palette
{
	text-align: center;
	margin-bottom: 20px;
}
